# dotnet
dotnet/.vs/
dotnet/bin/
dotnet/obj/
dotnet/output/

# golang
golang/output/
golang/output-arm/
golang/output-custom-runtime/

# java
java/target/
java/output/

# node.js
nodejs/node_modules/
nodejs/package-lock.json

# rust
rust/output/
rust/Cargo.lock